body{
  background-color: rgb(67, 34, 247);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
 color: rgb(249, 245, 220);
}
#image{
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 55px;
}

#h1, #h2{

  text-align: center;
  margin-right: auto;
  text-shadow: 5px 7px 7px rgb(0, 0, 0);
  

}

#img-caption {
  text-align: center;
  margin-right: auto;
  text-shadow: 5px 7px 7px rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

#tl-title{
  text-align: center;
  margin-right: auto;
  text-shadow: 5px 7px 7px rgb(0, 0, 0);
  font-size: 24;
  font-family: 'Times New Roman', Times, serif;
}

#ul{
   margin-right: auto;
  text-shadow: 5px 7px 7px rgb(0, 0, 0);
  font-size: 24;
  font-family: 'Times New Roman', Times, serif;
}

.alternating-current {
  padding: 100px;
}

#footer {
  text-align: center;
  padding: 100px;
}

#inventions-title {
  text-align: center;
  margin-right: auto;
  text-shadow: 5px 7px 7px rgb(0, 0, 0);
  font-size: 24;
  font-family: 'Times New Roman', Times, serif;
}
